.label-selector-popover {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 300px;
    min-height: 350px;
    max-height: 500px;
}

.label-selector-existing {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow: auto;
}

.create-label-button {
    margin-top: auto;
}

.color-selector {
    display: grid;
    grid-template-columns: repeat(5, 50px);
    gap: 0.4rem;
    justify-content: center;
}

.selectable-color {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 5px;
    transition: border 0.2s;
}

.selected-selectable-color {
    border: 2px solid white;
}

.label-editor-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}