.user-selector-popover {
    min-width: 300px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.user-selector-user-information {
    text-align: center;
}

.user-selector-users {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.user-selector-claims {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.user-selector-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--bg-xx-light);
    border-radius: 15px;
}

.user-selector-toggle {
    background-color: var(--bg-xx-light);
    border-radius: 15px;
    padding: 10px;
    display: flex;
    align-items: center;
}