.card-member-card {
    background-color: var(--bg-xx-light);
    border-radius: 50%;
    padding: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, outline-color 0.1s, outline-width 0.1s;
}

.card-member-card.selected {
    outline: 3px solid var(--bg-xxxx-light);
}

.card-member-card.small {
    width: 2rem;
    height: 2rem;
}

.card-member-card.medium {
    width: 2.4rem;
    height: 2.4rem;
}

.card-member-card.large {
    width: 3rem;
    height: 3rem;
}

.card-member-card:hover {
    background-color: var(--bg-xxx-light);
    cursor: pointer;
}

.card-member-card.self {
    background-color: var(--bg-xxx-light);
}