.admin-dashboard-page {
    display: flex;
}

.admin-dashboard-detailed {
    background-color: var(--bg);
    border: 1px solid var(--bg-light);
    margin: 0.6rem 0 0 0;
    height: calc(100vh - 150px);
    width: 100vw;
    border-radius: 15px;
    padding: 10px;
    color: var(--text-color);
}

.admin-settings-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15%;
}

.admin-editable-user {
    display: flex;
    background-color: var(--bg-light);
    width: 100%;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 15px;
}

.admin-editable-user button {
    margin-left: auto;
}

.admin-editable-user button, .invite-user button {
    font-size: medium;
    color: var(--text-color);
    border: none;
    padding: 15px;
    border-radius: 15px;
    background-color: var(--bg-x-light);
    transition: background-color 0.3s, transform 0.3s;
}

.admin-editable-user button:hover, .invite-user button:hover {
    background-color: var(--bg-xx-light);
    transform: translateY(-2px);
    cursor: pointer;
}

.user-management-users-div {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.user-management-nav {
    width: 100%;
    margin-top: auto;
}

.edit-user-claims {
    display: flex;
    flex-direction: column;
    gap: 0.35rem;
    font-size: medium;
    color: var(--text-color);
}

.editable-claim {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-x-light);
    padding: 15px;
    border-radius: 15px;
}

.editable-claim input {
    margin-left: auto;
}

.editable-claims-div {
    display: flex;
    flex-direction: column;
    gap: 0.35rem;
}

.users-show-more {
    width: 100%;
    padding: 0.5rem;
    opacity: 75%;
    border-radius: 8px;
    margin-top: 1rem;
    border: none;
    background-color: var(--bg-light);
    color: var(--text-color);
    font-size: large;
    transition: opacity 0.3s;
}

.users-show-more:hover {
    opacity: 1;
    cursor: pointer;
}