.card-detail-checklist-header {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.card-detail-checklist-header div {
    display: flex;
    gap: 0.5rem;
    margin-left: auto;
}

.card-detail-checklist-header button {
    width: fit-content;
}

.card-detail-checklist-img-container {
    background-color: var(--std-button);
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s;
}

.card-detail-checklist-img-container:hover {
    background-color: var(--std-button-highlight);
    transform: translateY(-2px);
    cursor: pointer;
}

.card-detail-checklist-img-container img {
    padding: 0.5rem;
    filter: invert(1);
}

.card-detail-progress-container {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    width: 100%;
}

.card-detail-progress-bg {
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background-color: var(--bg-x-light);
}

.card-detail-progress-fg {
    height: 10px;
    border-radius: 5px;
    background-color: var(--bg-xx-light);
    transition: width 0.35s;
}

.card-detail-checklist {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.card-detail-checklist-items {
    display: flex;
    flex-direction: column;
    gap: 0.15rem;
    margin: 0 0 0.6rem 0.6rem;
}

.card-detail-checklist-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    padding: 0.1rem;
    border-radius: 10px;
    transition: background-color 0.2s;
}

.card-detail-checklist-item:hover {
    background-color: var(--bg-x-light);
    cursor: pointer;
}

.card-detail-checklist-item-info-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px;
}

.card-detail-checklist-item-edit-actions {
    margin-top: 0.5rem;
    display: flex;
    gap: 0.5rem
}

.card-detail-checklist-item-info {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-left: 0.25rem;
}

.card-detail-checklist-item-info input {
    width: 100%;
}

.card-detail-checklist-item-action img {
    display: block;
    opacity: 0;
    filter: invert(1);
    padding: 0.25rem;
    border-radius: 10px;
    transition: background-color 0.2s, opacity 0.2s;
}

.card-detail-checklist-item:hover .card-detail-checklist-item-action img {
    opacity: 100%;
}

.card-detail-checklist-item-action:hover img:hover {
    background-color: var(--bg-xx-light);
}

.card-detail-checklistitem-add {
    align-self: center;
    width: 95%;
}

.card-detail-checklistitem-add input {
    width: 100%;
}

.card-detail-add-task-button {
    width: fit-content;
    padding: 11px;
    background-color: var(--bg-xx-light);
    opacity: 60%;
    border: none;
    color: var(--text-color);
    border-radius: 15px;
    transition: filter 0.3s;
}

.card-detail-add-task-button:hover {
    filter: brightness(1.25);
    cursor: pointer;
}