*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: violet;
    --text-color: gray;

    --bg-dark: hsl(192, 5%, 20%);
    --bg: hsl(192, 10%, 30%);
    --bg-light: hsl(192, 20%, 40%);
    --bg-x-light: hsl(192, 20%, 50%);

    --box-shadow: hsl(0, 0%, 5%);

    --border: hsl(192, 30%, 40%);

    --text-color: hsl(0, 0%, 95%);
    --text-color-dark: hsl(0, 0%, 25%);

    --success-color: hsl(113, 100%, 50%);

    --color-border: #4E8098;

    --text: white;
}

.App {
    width: 100%;
    display: block;
    padding: 1rem;
}

body {
    background-color: var(--bg-dark);
}

.navbar-header {
    background-color: var(--bg);
    padding: 10px;
    margin: 10px 0;
    border-radius: 15px;
    border-bottom: 2px solid var(--border);
}

.navbar-header a {
    color: var(--text-color);
    text-decoration: none;
    font-size: x-large;
}

.projects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 1127px;
    gap: 1rem;
    padding: 1rem;
}

.project-card {
    background-color: var(--bg);
    color: var(--text-color);
    box-shadow: 2px 2px 4px 0 var(--box-shadow);

    padding: 1rem;
    min-height: 150px;
    width: 23%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    border-radius: 15px;
    text-decoration: none;

    transition: background-color 0.3s, transform 0.3s;
}

.create-project-card {
    width: 100%;
    opacity: 75%;
}

.project-card:hover {
    cursor: pointer;
    background-color: var(--bg-light);
    transform: translateY(-4px);
}

.board-selectors {
    display: flex;
    color: var(--text-color);
}

.board-header {
    display: flex;
    text-align: center;
    background-color: var(--bg);
    text-decoration: none;
    color: var(--text-color);
    border-radius: 15px 15px 0 0;
    padding: 1rem;

    transition: background-color 0.3s, transform 0.3s;
}

.board-header:hover {
    cursor: pointer;
    background-color: var(--bg-light);
    transform: translateY(-2px);
}

.create-board-header {
    display: flex;
    background-color: var(--bg);
    border: none;
    color: var(--text-color);
    border-radius: 15px 15px 0 0;
    padding: 1rem;
    font-size: medium;
    opacity: 60%;

    transition: background-color 0.3s, transform 0.3s;
}

.create-board-header:hover {
    cursor: pointer;
    background-color: var(--bg-light);
    transform: translateY(-2px);
}

.no-board-selected-body {
    background-color: var(--bg);
    border-radius: 0 0 15px 15px;
    display: flex;
    min-height: calc(100vh - 200px);
    max-height: calc(100vh - 200px);
    overflow: hidden;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    font-size: xx-large;
}

.board-body {
    background-color: var(--bg);
    border-radius: 0 0 15px 15px;
    display: flex;
    min-height: calc(100vh - 200px);
    max-height: calc(100vh - 200px);
    overflow: hidden;
}

.cardlist-background {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-light);
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem 0.5rem;
    width: 320px;
    max-height: 95%;
}

.cardlist-background h3 {
    color: var(--text-color);
}

.creation-cardlist {
    margin: 0.5rem 0.5rem;
    width: 320px;
}

.creation-cardlist form {
    background-color: var(--bg-light);
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
}

.creation-cardlist .add-cardlist-button {
    padding: 15px;
    width: 100%;

    border: none;
    margin: 0.5rem 0;
    border-radius: 10px;

    font-size: large;

    background-color: var(--bg-light);
    color: var(--text-color);
    opacity: 60%;

    transition: background-color 0.3s, opacity 0.3s;
}

.creation-cardlist .add-cardlist-button:hover {
    cursor: pointer;
    background-color: var(--bg-x-light);
    opacity: 80%;
}

.cards {
    overflow-y: auto;
    flex-grow: 1;
}

.card {
    background-color: var(--bg-x-light);
    border-radius: 5px;
    margin: 0.5rem 0;
    padding: 1rem;
    color: var(--text-color);
}

.creation-card {
    background-color: var(--bg-light);
    margin: 0.5rem 0;
    border-radius: 5px;
    padding: 5px;

    transition: background-color 0.3s;
}

.creation-card p {
    font-size: xx-large;
    text-align: center;
    color: var(--text-color);
}

.creation-card input {
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--bg-x-light);
    color: var(--text-color);
    font-size: medium;
}

.creation-card input:focus {
    border: none;
    outline: none;
}

.creation-card:hover {
    background-color: var(--bg-x-light);
    cursor: pointer;
}

.add-button {
    background-color: var(--success-color);
    border: none;
    padding: 15px;
    border-radius: 5px;
    color: var(--text-color-dark);
}