*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: violet;
    --text-color: gray;

    --bg-dark: hsl(0, 0%, 5%);
    --bg: hsl(0, 0%, 15%);
    --bg-light: hsl(0, 0%, 25%);
    --bg-x-light: hsl(0, 0%, 35%);

    --border: hsl(0, 0%, 45%);

    --text-color: hsl(0, 0%, 95%);
    --text-muted: hsl(0, 0%, 65%);

    --color-border: #4E8098;

    --text: white;
}

.App {
    width: 100%;
    display: block;
    padding: 1rem;
}

body {
    background-color: var(--bg-dark);
}


.board-header {
    display: flex;
    background-color: var(--bg);
    border-radius: 1rem;
    padding: 1rem;
}

.board-header input {
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: transparent;
    color: var(--text-color);
    font-size: large;

    transition: background-color 0.3s;
}

.board-header input:hover {
    background-color: var(--bg-light);
}

.board-header input:focus {
    border: none;
    outline: none;
    background-color: var(--bg-light);
}

.board-body {
    display: inline-flex;
}

.cardlist-background {
    background-color: var(--bg);
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem 0.5rem;
    width: 320px;
}

.cardlist-background h3 {
    color: var(--text-color);
}

.card {
    background-color: var(--bg-light);
    border-radius: 5px;
    margin: 0.5rem 0;
    padding: 1rem;
    color: var(--text-muted);

    transition: color 0.3s;
}

.card:hover {
    color: var(--text-color);
}

.creation-card {
    background-color: var(--bg-light);
    margin: 0.5rem 0;
    border-radius: 5px;
    padding: 5px;

    transition: background-color 0.3s;
}

.creation-card p {
    font-size: xx-large;
    text-align: center;
    color: var(--text-muted);
}

.creation-card input {
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--bg-x-light);
    color: var(--text-color);
    font-size: medium;
}

.creation-card:hover {
    background-color: var(--bg-x-light);
    cursor: pointer;
}