*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-dark: hsl(0, 0%, 10%);
    --bg: hsl(0, 0%, 15%);
    --bg-light: hsl(0, 0%, 20%);
    --bg-x-light: hsl(0, 0%, 28%);
    --bg-xx-light: hsl(0, 0%, 45%);

    --bg-popover: hsl(0, 0%, 25%);

    --color-border: hsl(0, 0%, 5%);
    --highlight-color-border: hsl(0, 0%, 95%);

    --button-cancel: hsl(0, 0%, 50%);
    --button-cancel-focus: hsl(0, 0%, 60%);

    --box-shadow: hsl(0, 0%, 5%);

    --text-color: hsl(0, 0%, 95%);
    --text-color-failure: hsl(0, 100%, 60%);
    --text-color-dark: hsl(0, 0%, 15%);

    --std-button: hsl(0, 0%, 50%);
    --std-button-highlight: hsl(0, 0%, 65%);
    --success-color: hsl(113, 60%, 60%);
    --success-color-highlight: hsl(113, 80%, 80%);

    --red-warning: hsl(0, 100%, 22%);
    --red-warning-highlight: hsl(0, 100%, 35%);

    --notice-warning: hsla(0, 55%, 43%, 0.6);
    --notice-warning-border: hsl(0, 100%, 15%);

    --shadow-m: inset 0 1px 2px hsl(0, 0%, 30%),
    0 1px 2px hsl(0, 0%, 30%),
    0 2px 4px hsl(0, 0%, 15%)
}

.App {
    min-height: 100vh;
    width: 100%;
    display: block;
    padding: 1rem;
}

body {
    background-color: var(--bg-dark);
    font-family: Arial, serif;
}

.navbar-header {
    display: flex;
    background-color: var(--bg);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    border-bottom: 2px solid var(--color-border);
    font-size: larger;
}

.navbar-header a {
    text-decoration: none;
    padding: 10px;
    color: var(--text-color);
}

.app-user {
    color: var(--text-color);
    padding: 10px;
    margin-left: auto;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.app-user:hover {
    background-color: var(--bg-light);
    cursor: pointer;
}

/*-----------------------------------------------*/
/*-------------------LOGIN-----------------------*/
/*-----------------------------------------------*/

.login-page {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login {
    background-color: var(--bg-light);
    box-shadow: var(--shadow-m);
    border-radius: 15px;
    padding: 15px;
    min-width: 420px;
    color: var(--text-color);
}

.login p {
    color: var(--text-color-failure);
    font-size: larger;
    text-align: center;
}

.login h2 {
    text-align: center;
}

.login form {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 0.75rem;
}

.login form input {
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--bg-x-light);
    color: var(--text-color);
    font-size: large;
}

.login form input:focus {
    outline: none;
}

.login form label {
    margin: 0.5rem 0.5rem 0 0.5rem;
    color: var(--text-color);
    font-size: larger;
}

.login form button {
    background-color: var(--success-color);
    border: none;
    border-radius: 10px;
    margin: 1rem 0;
    padding: 10px;
    color: var(--text-color);
    font-size: large;
    transition: background-color 0.4s, transform 0.4s;
}

.login form button:hover {
    background-color: var(--success-color-highlight);
    transform: translateY(-2px);
    cursor: pointer;
}

/*-----------------------------------------------*/
/*-------------------PROJECTS--------------------*/
/*-----------------------------------------------*/
.projects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 1127px;
    gap: 1rem;
}

.project-card {
    background-color: var(--bg);
    color: var(--text-color);
    box-shadow: 2px 2px 4px 0 var(--box-shadow);

    padding: 1rem;
    min-height: 150px;
    width: 23%;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;

    border-radius: 15px;
    text-decoration: none;

    transition: background-color 0.3s, transform 0.3s;
}

.project-card:hover {
    cursor: pointer;
    background-color: var(--bg-light);
    transform: translateY(-4px);
}

.create-project-card {
    opacity: 60%;
}

.create-new-board-modal form {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
}

/*-----------------------------------------------*/
/*---------------------BOARDS--------------------*/
/*-----------------------------------------------*/
.board-selectors {
    display: flex;
    color: var(--text-color);
}

.board-header {
    display: flex;
    text-align: center;
    background-color: var(--bg);
    text-decoration: none;
    color: var(--text-color);
    border-radius: 15px 15px 0 0;
    padding: 1rem;
    align-items: center;
    gap: 0.8rem;

    transition: background-color 0.3s, transform 0.3s;
}

.board-header img {
    opacity: 0;
    transition: opacity 0.15s;
    filter: invert(100%);
}

.board-header:hover img {
    opacity: 100%;
}

.edit-board-popup form {
    display: flex;
    flex-direction: column;
}

.selected-board-header {
    background-color: var(--bg-light);
    transform: translateY(-2px);
}

.board-header:hover {
    cursor: pointer;
    background-color: var(--bg-light);
    transform: translateY(-2px);
}

.create-board-header {
    border: none;
    font-size: medium;
    opacity: 60%;
}

.board-body {
    background-color: var(--bg);
    border-radius: 0 0 15px 15px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 175px);
    overflow: hidden;
}

.current-board-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 10px;
    color: var(--text-color);
    font-size: large;
}

.current-board-header .button {
    max-width: 200px;
}

.board-content {
    display: flex;
}

.no-board-selected {
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    font-size: xx-large;
}

.create-new-board-popup {
    display: flex;
    flex-direction: column;
}

/*-----------------------------------------------*/
/*-------------------CARDLIST--------------------*/
/*-----------------------------------------------*/
.cardlist-background {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-light);
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem 0.5rem;
    width: 320px;
    color: var(--text-color);
}

.add-cardlist-button {
    padding: 15px;
    width: 320px;
    height: fit-content;
    margin: 1rem 0.5rem;

    border: none;
    border-radius: 10px;

    font-size: large;

    background-color: var(--bg-light);
    color: var(--text-color);
    opacity: 60%;

    transition: background-color 0.3s, opacity 0.3s;
}

.add-cardlist-button:hover {
    cursor: pointer;
    background-color: var(--bg-x-light);
    opacity: 80%;
}

.creation-cardlist {
    background-color: var(--bg-light);
    padding: 0.8rem;
    border-radius: 10px;
    margin: 1rem 0.5rem;
    width: 320px;
    height: fit-content;
}

.creation-cardlist form {
    display: flex;
    flex-direction: column;
}

/*-----------------------------------------------*/
/*---------------------CARDS---------------------*/
/*-----------------------------------------------*/
.cards {
    overflow-y: auto;
    flex-grow: 1;
}

.card {
    background-color: var(--bg-x-light);
    border: 1px solid transparent;
    border-radius: 5px;
    margin: 0.5rem 0;
    padding: 0.5rem;
    color: var(--text-color);
    transition: border-color 0.3s;
}

.card:hover {
    border-color: var(--highlight-color-border);
    cursor: pointer;
}

.card p {
    word-wrap: break-word;
}

.creation-card {
    background-color: var(--bg-light);
    padding: 5px;

    transition: background-color 0.3s;
}

.creation-card p {
    font-size: xx-large;
    text-align: center;
    color: var(--text-color);
}

.creation-card:hover {
    background-color: var(--bg-x-light);
    cursor: pointer;
}

.creation-card-form {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
}

.creation-card-form span {
    display: flex;
    gap: 0.5rem;
}

.creation-card-form .submit-button {
    width: 100%;
}

.creation-card-form button[type="reset"] {
    color: var(--text-color);
    padding: 10px;
    border-radius: 15px;
    border: none;
    margin-left: auto;
    background-color: var(--button-cancel);
    opacity: 60%;
    transition: background-color 0.3s, transform 0.3s;
}

.creation-card-form button[type="reset"]:hover {
    cursor: pointer;
    background-color: var(--button-cancel-focus);
    transform: translateY(-2px);
}

.card-details-labels {
    color: var(--text-color);
}

.card-labels-div {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    margin-bottom: 0.25rem;
}

.card-label {
    padding: 5px;
    border-radius: 3px;
    width: fit-content;
    font-size: small;
    background-color: var(--bg-light);
}

/*-----------------------------------------------*/
/*---------------------User settings-------------*/
/*-----------------------------------------------*/

.account-settings-page {
    display: flex;
}

.detailed-settings-panel {
    margin: 0.6rem 0 0 0;
    height: calc(100vh - 150px);
    background-color: var(--bg);
    width: 100vw;
    border-radius: 15px;
    padding: 10px;
    color: var(--text-color);
}

.account-settings-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 25%
}

.account-pwsmanager-page form {
    display: flex;
    flex-direction: column;
    margin-top: 1.4rem;
    width: 100%;
}

.account-pwsmanager-page form label {
    margin-top: 0.6rem;
}

/*-----------------------------------------------*/
/*-------------------Admin dashboard-------------*/
/*-----------------------------------------------*/

.admin-dashboard-page {
    display: flex;
}

.admin-dashboard-detailed {
    margin: 0.6rem 0 0 0;
    height: calc(100vh - 150px);
    background-color: var(--bg);
    width: 100vw;
    border-radius: 15px;
    padding: 10px;
    color: var(--text-color);
}

.admin-settings-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15%;
}

.admin-editable-user {
    display: flex;
    background-color: var(--bg-light);
    width: 100%;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 15px;
}

.admin-editable-user button {
    margin-left: auto;
}

.admin-editable-user button, .invite-user button {
    font-size: medium;
    color: var(--text-color);
    border: none;
    padding: 15px;
    border-radius: 15px;
    background-color: var(--bg-x-light);
    transition: background-color 0.3s, transform 0.3s;
}

.admin-editable-user button:hover, .invite-user button:hover {
    background-color: var(--bg-xx-light);
    transform: translateY(-2px);
    cursor: pointer;
}

.user-management-users-div {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.user-management-nav {
    width: 100%;
    margin-top: auto;
}

.edit-user-claims {
    display: flex;
    flex-direction: column;
    gap: 0.35rem;
    font-size: medium;
    color: var(--text-color);
}

.editable-claim {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-x-light);
    padding: 15px;
    border-radius: 15px;
}

.editable-claim input {
    margin-left: auto;
}

.editable-claims-div {
    display: flex;
    flex-direction: column;
    gap: 0.35rem;
}

/*-----------------------------------------------*/
/*-------------------Invitation------------------*/
/*-----------------------------------------------*/

.invite-user {
    width: 100%;
    margin-top: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-light);
    border-radius: 15px;
    align-items: center;
    transition: background-color 0.3s, transform 0.3s, opacity 0.3s;
}

.invitation-settings {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem
}

.generated-invitation-link-body {
    color: var(--text-color);
    margin-top: 5px;
}

.generated-invitation-link-div {
    display: flex;
}

.generated-link-text {
    margin-right: 0.5rem;
    color: var(--text-color);
    background-color: var(--bg-x-light);
    padding: 1rem;
    border-radius: 15px;
}

.view-invitation-links-div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.view-invitation-link-div {
    display: flex;
    background-color: var(--bg-x-light);
    border-radius: 15px;
    color: var(--text-color);
    padding: 1rem;
}

/*-----------------------------------------------*/
/*-------------------Side bar--------------------*/
/*-----------------------------------------------*/

.settings-sidebar {
    display: flex;
    padding: 10px;
    flex-direction: column;
    margin: 0.6rem 1rem 0 0;
    gap: 0.6rem;
    height: calc(100vh - 150px);
    min-width: 20vw;
    background-color: var(--bg);
    border-radius: 15px;
}

.settings-sidebar a {
    text-decoration: none;
    background-color: var(--bg-light);
    color: var(--text-color);
    font-size: medium;
    padding: 20px;
    border: none;
    border-radius: 15px;
    transition: background-color 0.3s, transform 0.3s;
}

.settings-sidebar a:hover {
    cursor: pointer;
    background-color: var(--bg-x-light);
    transform: translateY(-2px);
}

/*-----------------------------------------------*/
/*---------------------Pop overs-----------------*/
/*-----------------------------------------------*/
.popover {
    background-color: var(--bg-popover);
    color: var(--text-color);
    padding: 15px;
    border-radius: 10px;
}

.logged-in-user-popover {
    width: 260px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.logged-in-user-popover button {
    background-color: var(--bg-x-light);
    color: var(--text-color);
    border: none;
    border-radius: 10px;
    font-size: large;
    margin: 0.5rem 0 0 0;
    padding: 0.5rem;
    transition: background-color 0.3s, transform 0.3s;
}

.logged-in-user-popover button:hover {
    cursor: pointer;
    background-color: var(--bg-xx-light);
    transform: translateY(-2px);
}

/*-----------------------------------------------*/
/*---------------------Utils---------------------*/
/*-----------------------------------------------*/

.button {
    border: none;
    border-radius: 15px;
    padding: 0.5rem;
    font-size: medium;
    color: var(--text-color);
    width: 100%;
}

.standard-button {
    background-color: var(--std-button);
    transition: background-color 0.3s, transform 0.3s;
    color: var(--text-color);
}

.standard-button:hover {
    cursor: pointer;
    background-color: var(--std-button-highlight);
    transform: translateY(-2px);
}

.valid-submit-button {
    background-color: var(--success-color);
    transition: background-color 0.3s, transform 0.3s;
}

.valid-submit-button:hover {
    cursor: pointer;
    background-color: var(--success-color-highlight);
    transform: translateY(-2px);
}

.heavy-action-button {
    background-color: var(--red-warning);
    transition: background-color 0.3s, transform 0.3s;
}

.heavy-action-button:hover {
    cursor: pointer;
    background-color: var(--red-warning-highlight);
    transform: translateY(-2px);
}

.classic-input {
    margin: 0 0 0.5rem 0;
    padding: 15px;
    border: none;
    border-radius: 15px;
    color: var(--text-color);
    background-color: var(--bg-x-light);
    font-size: medium;

    transition: box-shadow 0.3s;
}

.classic-input:focus {
    outline: none;
    box-shadow: 0 0 2px 0 var(--box-shadow);
}

.warning-notice {
    padding: 15px;
    background-color: var(--notice-warning);
    border-left: var(--notice-warning-border) solid 5px;
}