*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-dark: hsl(220, 15%, 5%);
    --bg: hsl(220, 15%, 8%);
    --bg-light: hsl(220, 12%, 14%);
    --bg-x-light: hsl(220, 12%, 20%);
    --bg-xx-light: hsl(220, 10%, 28%);
    --bg-xxx-light: hsl(220, 12%, 36%);
    --bg-xxxx-light: hsl(220, 10%, 46%);

    --bg-popover: hsl(220, 12%, 16%);

    --primary: hsl(210, 100%, 60%);
    --primary-hover: hsl(210, 100%, 70%);

    --text-color: hsl(0, 0%, 98%);
    --text-color-shaded: hsl(220, 10%, 70%);

    --highlight-selection: hsl(209, 100%, 93%);

    --shadow-m: inset 0 1px 2px hsl(0, 0%, 30%),
    0 1px 2px hsl(0, 0%, 30%),
    0 2px 4px hsl(0, 0%, 15%)
}

.App {
    min-height: 100vh;
    width: 100%;
    display: block;
    padding: 1rem;
}

body {
    background-color: var(--bg-dark);
    font-family: Arial, serif;
}

/*-----------------------------------------------*/
/*-------------------Side bar--------------------*/
/*-----------------------------------------------*/

.settings-sidebar {
    display: flex;
    padding: 10px;
    flex-direction: column;
    margin: 0.6rem 1rem 0 0;
    gap: 0.6rem;
    height: calc(100vh - 150px);
    min-width: 20vw;
    background-color: var(--bg);
    border: 1px solid var(--bg-light);
    border-radius: 15px;
}

.settings-sidebar a {
    text-decoration: none;
    background-color: var(--bg-light);
    color: var(--text-color);
    font-size: medium;
    padding: 20px;
    border: none;
    border-radius: 15px;
    transition: background-color 0.3s, transform 0.3s;
}

.settings-sidebar a:hover {
    cursor: pointer;
    background-color: var(--bg-x-light);
    transform: translateY(-2px);
}


/*-----------------------------------------------*/
/*---------------------Utils---------------------*/
/*-----------------------------------------------*/

.button {
    border: none;
    border-radius: 8px;
    padding: 0.5rem;
    font-size: medium;
    color: var(--text-color);
    width: 100%;
}

.standard-button {
    background-color: var(--bg-xx-light);
    transition: background-color 0.3s, transform 0.3s;
    color: var(--text-color);
}

.standard-button:hover {
    cursor: pointer;
    background-color: var(--bg-xxx-light);
    transform: translateY(-2px);
}

.button-with-icon {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.iconized-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.icon {
    filter: invert(0.75);
}

.icon.clickable:hover {
    cursor: pointer;
}

.valid-submit-button {
    background-color: var(--primary);
    transition: background-color 0.3s, transform 0.3s;
}

.valid-submit-button:hover {
    cursor: pointer;
    background-color: var(--primary-hover);
    transform: translateY(-2px);
}

.classic-input {
    padding: 15px;
    border: none;
    border-radius: 8px;
    color: var(--text-color);
    background-color: var(--bg-xx-light);
    font-size: medium;

    transition: box-shadow 0.3s;
}

.classic-input.small {
    padding: 8px;
}

.classic-input:focus {
    outline: none;
}

.error-text {
    font-size: larger;
}