*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: violet;
    --text-color: gray;

    --bg-dark: hsl(0, 0%, 5%);
    --bg: hsl(0, 0%, 10%);
    --bg-light: hsl(0, 0%, 20%);

    --border: hsl(0, 0%, 45%);

    --text-color: hsl(0, 0%, 95%);
    --text-muted: hsl(0, 0%, 65%);

    --color-border: #4E8098;

    --text: white;
}

.App {
    width: 100%;
    display: block;
    padding: 1rem;
}

body {
    background-color: var(--bg-dark);
}

.board-header {
    display: flex;
    background-color: var(--bg);
    border-radius: 1rem;
    padding: 1rem;
}

.board-header input {
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: transparent;
    color: var(--text-color);
    font-size: large;

    transition: background-color 0.3s;
}

.board-header input:hover {
    background-color: var(--bg-light);
}

.board-header input:focus {
    border: none;
    outline: none;
    background-color: var(--bg-light);
}