.detailed-card-label {
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    font-size: medium;
    transition: filter 0.3s;
}

.detailed-card-label:hover {
    cursor: pointer;
    filter: brightness(1.25);
}

.card-details-modal-wrapper {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
}

.card-details-modal {
    display: flex;
    flex-direction: column;
    gap: 0.35rem;
}

.category-paragraph {
    font-weight: bold;
    font-size: large;
    margin-top: 0.8rem;
    margin-bottom: 0.1rem;
}

.card-details-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    gap: 0.25rem;
    color: var(--text-color);
}

.card-detail-name {
    padding: 15px;
    border-radius: 15px;
    border: none;
    background-color: var(--bg-x-light);
    font-size: medium;
    transition: color 0.15s;
    width: 100%;
    margin-right: 1rem;
    color: var(--text-color);
}

.card-detail-name:focus {
    outline: none;
}

.card-details-labels {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
}

.card-details-labels button {
    width: fit-content;
}

.card-details-checklist-header {
    margin-top: 0.8rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-weight: bold;
    font-size: large;
}

.card-details-checklist-header button {
    width: fit-content;
}

.card-detail-add-checklist-form input {
    margin-bottom: 0.6rem;

}

.card-details-modal textarea {
    background-color: var(--bg-x-light);
    border-radius: 15px;
    padding: 6px;
    border: none;
    color: var(--text-color-shaded);
    width: 100%;
    height: 18rem;
    resize: none;
    font-family: Arial, serif;
    font-size: 16px;
    transition: color 0.15s;
}

.card-details-modal textarea:focus {
    outline: none;
    color: var(--text-color);
}

.card-detailed-description-div form {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.card-detailed-description {
    color: var(--text-color-shaded);
}

.card-detail-members {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
}

.urgencies-popover {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: 145px;
}