.card-drag-preview-container {
    display: flex;
    align-items: center;
}

.card-drag-knob {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: var(--primary);
}

.card-preview-line {
    width: 100%;
    height: 3px;
    background-color: var(--primary-hover);
}

.card {
    background-color: var(--bg-x-light);
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 0.5rem;
    color: var(--text-color);
    transition: border-color 0.3s;
    display: flex;
    flex-direction: column;
    gap: 0.35rem;
    margin: 0.25rem 0;
}

.card.completed {
    opacity: 85%;
}

.card:hover {
    border-color: var(--highlight-selection);
    cursor: pointer;
}

.card p {
    word-wrap: break-word;
}

.card.completed p {
    text-decoration: line-through;
}

.card-checkmark {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    border-radius: 50%;
    border: none;
    background-color: var(--bg-xx-light);
    color: var(--text-color);
    font-weight: bold;
    font-size: smaller;
    transform: translateX(-3rem);
    min-width: 0;
    height: 22px;
    transition: all 0.3s;
}

.card-checkmark.visible {
    min-width: 22px;
    opacity: 1;
    padding: 4px;
    transform: translateX(0);
    margin-right: 0.35rem;
}

.card-checkmark:hover {
    filter: brightness(1.25);
    cursor: pointer;
}

.card-checkmark:disabled {
    filter: none !important;
    cursor: not-allowed;
}

.card-checklist-hint {
    background-color: var(--bg-xx-light);
    padding: 5px;
    border-radius: 10px;
    width: fit-content;
    font-size: smaller;
    display: flex;
    align-items: center;
}

.creation-card {
    border-radius: 10px;
    background-color: var(--bg-light);
    padding: 2px;

    transition: background-color 0.3s;
}

.creation-card p {
    font-size: xx-large;
    text-align: center;
    color: var(--text-color);
}

.creation-card:hover {
    background-color: var(--bg-x-light);
    cursor: pointer;
}

.creation-card-form {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

.creation-card-form span {
    display: flex;
    gap: 0.5rem;
}

.creation-card-form .submit-button {
    width: 100%;
}

.creation-card-form button[type="reset"] {
    color: var(--text-color);
    padding: 10px;
    border-radius: 15px;
    border: none;
    margin-left: auto;
    background-color: var(--bg-xx-light);
    opacity: 60%;
    transition: background-color 0.3s, transform 0.3s;
}

.creation-card-form button[type="reset"]:hover {
    cursor: pointer;
    background-color: var(--bg-xx-light);
    transform: translateY(-2px);
}

.card-labels-div {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
}

.card-label {
    padding: 5px;
    border-radius: 8px;
    width: fit-content;
    font-size: small;
}

.view-card-members-popover h3 {
    justify-self: center;
    margin-bottom: 0.5rem;
}

.view-card-members-popover {
    width: 320px;
}

.card-members-selector {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.card-completion-details {
    display: flex;
    gap: 0.5rem;
}

.card-members {
    display: flex;
    gap: 0.25rem;
    flex-direction: row-reverse;
}

.card-member-card {
    background-color: var(--bg-xx-light);
    border-radius: 50%;
    padding: 0.25rem;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
}

.card-member-card:hover {
    background-color: var(--bg-xxx-light);
    cursor: pointer;
}

.card-member-card.self {
    background-color: var(--bg-xxx-light);
}

.card-urgency-label {
    background-color: var(--bg-xx-light);
    border-radius: 10px;
    padding: 5px;
    display: flex;
    gap: 0.25rem;
    align-items: center;
}

.card-urgency-label.low img {
    filter: invert(63%) sepia(7%) saturate(4447%) hue-rotate(187deg) brightness(105%) contrast(101%);
}

.card-urgency-label.medium img {
    filter: invert(69%) sepia(57%) saturate(495%) hue-rotate(2deg) brightness(108%) contrast(105%);
}

.card-urgency-label.high img {
    filter: invert(49%) sepia(54%) saturate(4434%) hue-rotate(3deg) brightness(107%) contrast(103%);
}

.card-urgency-label.urgent img {
    filter: invert(17%) sepia(78%) saturate(5981%) hue-rotate(2deg) brightness(100%) contrast(102%);
}